apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.immich.library.pvc.name }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ceph-block
  resources:
    requests:
      storage: {{ .Values.immich.library.pvc.size }}
