name: Deploy Machine Configurations

on:
  push:
    branches:
      - master

jobs:
  deploy:
    permissions:
      id-token: write
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        include:
          - hostname: optimus
            arch: x86_64
          - hostname: rpi5
            arch: aarch64
          - hostname: rpi4
            arch: aarch64
    runs-on: >-
      ${{
        (matrix.arch == 'aarch64' && 'ubuntu-24.04-arm') ||
        (matrix.arch == 'x86_64' && 'ubuntu-latest')
      }}
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
          ping: ${{ matrix.hostname }}
      - name: SSH setup
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh

          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519

          ssh-keyscan -H ${{ matrix.hostname }} >> ~/.ssh/known_hosts
          chmod 644 ~/.ssh/known_hosts
      - run: nix run .#deploy-rs -- .#${{ matrix.hostname }}
